.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header {
  position: relative;
  border-bottom: 1px solid #ececec;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}
// .header__container {
//   border-bottom: 1px solid #ececec;
// }
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
  .mobile-menu-btn__icon {
    display: none;
  }
  .navigation-list {
    margin-left: 88px;
  }
  .navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: #212121;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .contact {
    display: flex;
    flex-direction: column;
  }
  .contact__icon {
    margin-right: 10px;
    fill: var(--secondary-text-color-theme-light);
  }
  .header {
    border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  // .header__container {
  //   border: none;
  // // }
  .navigation {
    align-items: center;
    display: flex;
  }

  .navigation-list {
    display: flex;
  }

  .navigation-list__item {
    position: relative;
    color: var(--accent-color);

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .contact__item:not(:last-child) {
    margin-bottom: 10px;
  }
  .navigation-list-link-current {
    color: var(--accent-color);

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -32px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }

  .contact__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color-theme-light);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contact__icon {
    fill: currentColor;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (max-width: 767px) {
  .navigation-list {
    display: none;
  }
  .contact {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }

  .mobile-menu-btn__icon {
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .mobile-menu-btn:hover &,
    .mobile-menu-btn:focus & {
      fill: var(--accent-color);
    }
  }

  .mobile-menu {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
      0px 1px 3px rgba(0, 0, 0, 0.16);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-nav__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-nav__link {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;

    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .active-page {
    color: var(--accent-color);
  }
  // .mobile-nav {
  //   margin-bottom: 302px;
  // }
  .contact-mobile__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .contact-mobile__number {
    color: var(--accent-color);
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;

    letter-spacing: 0.02em;
  }
  .contact-mobile__mail {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #757575;
  }
  // .contact-mobile {
  //   // padding-left: 40px;
  //   margin-bottom: 64px;
  // }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .social-media {
    display: flex;
    justify-content: flex-start;
  }

  .social-madia__item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }
  .social-madia__item:not(:first-child) {
    margin-left: 10px;
  }
  .social-media-link {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;

    letter-spacing: 0.02em;

    color: #2196f3;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 15px;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;

    &:hover {
      fill: var(--accent-color);
    }
  }

  .mobile-menu__container {
    // display: flex;
    // position: relative;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 40px;
    padding-right: auto;
  }
  // .mobile-nav__item {
  //   margin-top: 32px;
  // }
  .contact-div {
    margin-top: 132px;
    margin-bottom: 64px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .navigation-list {
    display: flex;
    align-items: center;
  }
  .mobile-menu {
    display: none;
  }
  .contact {
    display: flex;
  }
  .mobile-menu-btn {
    display: none;
  }

  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header {
    position: relative;
  }

  .container {
    padding-left: 15px;
    padding-right: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
  }

  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }

  // .header__container {
  //   border: none;
  // }

  .navigation-list {
    margin-left: 93px;
  }

  .navigation-list__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    color: #212121;

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }
  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    // border-bottom: 1px solid #ececec;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .contact__item:not(:nth-child(1)) {
    margin-left: 50px;
  }
  .navigation {
    align-items: center;
    display: flex;
  }

  .navigation-list {
    display: flex;
  }

  .contact {
    display: flex;
    // align-items: center;
  }
  .contact__icon {
    margin-right: 10px;
    fill: var(--secondary-text-color-theme-light);
  }

  .navigation-list__item {
    position: relative;
    color: var(--accent-color);

    &:not(:last-child) {
      margin-right: 50px;
    }
  }
  .navigation-list-link-current {
    color: var(--accent-color);

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: -32px;
      display: block;
      width: 100%;
      height: 4px;
      border-radius: 2px;
      background-color: var(--accent-color);
    }
  }

  .contact__link {
    display: flex;
    align-items: center;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;

    color: var(--secondary-text-color-theme-light);

    &:hover,
    &:focus {
      color: var(--accent-color);
    }
  }

  .contact__icon {
    fill: currentColor;
  }
}
