.container {
  padding-top: 16px;
  padding-left: 15px;
  padding-right: 15px;
}
.hero__btn {
  margin-top: 30px;
  min-width: 200;
  padding: 10px 30px;
  border: 1px solid var(--accent-color);
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  cursor: pointer;

  color: #ffffff;
  background: var(--accent-color);
}
// @media screen and (min-width: 480px) {
//   .container {
//     width: 480px;
//     margin-left: auto;
//     margin-right: auto;
//   }
// }

@media screen and (max-width: 767px) {
  .hero {
    padding: 118px 0;
    background: #2f303a;
  }
  .hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    background: #2f303a;
  }
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images2/hero/mobile-hero-img.jpg");

    background-size: cover;
    background-color: #e5e5e5;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url("..//images2/hero/mobile-hero-img@2x.jpg");
    }
  }

  .hero__title {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .hero__btn {
    margin-top: 30px;
    min-width: 200;
    padding: 10px 30px;
    border: 1px solid var(--accent-color);
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;

    color: #ffffff;
    background: var(--accent-color);
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    width: 768px;
  }
  .hero {
    padding: 118px 0;
    background: #2f303a;
  }
  .hero {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    background: #2f303a;
  }
  .hero {
    max-width: 100%;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images2/hero/tablet-hero-img.jpg");

    background-size: cover;
    background-color: #e5e5e5;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url("..//images2/hero/tablet-hero-img@2x.jpg");
    }
  }
  .hero__title {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .hero__btn {
    margin-top: 30px;
    min-width: 200;
    padding: 10px 30px;
    border: 1px solid var(--accent-color);
    font-family: var(--primary-font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;

    color: #ffffff;
    background: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    /* or 136% */

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
    background: #2f303a;
  }

  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;

    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
  }

  .hero {
    padding: 200px 0;
    background: #2f303a;
  }
  .hero {
    max-width: 1600px;
    margin: 0 auto;
    background-position: center;
    background-repeat: no-repeat;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("..//images2/hero/img-desktop-hero.jpg");
    background-size: cover;
    background-color: #e5e5e5;
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: url("..//images2/hero/img-desktop-hero@2x.jpg");
    }
  }
}
