@media screen and (max-width: 767px) {
  .menu {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 40px;
  }
  .menu__btn:not(:nth-child(5)) {
    margin-right: 8px;
  }
  .menu__btn:nth-child(-n + 3) {
    margin-bottom: 21px;
  }

  .menu__btn :hover,
  .menu__btn :focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
  }
  .projects-list__item:not(:last-child) {
    margin-bottom: 30px;
  }

  .projects-list__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: #212121;
    margin-bottom: 4px;
  }
  .projects-list__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;

    color: #757575;
  }
  .projects-list__box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;

    box-sizing: border-box;
  }

  .projects-list__wrapper {
    position: relative;
    overflow: hidden;
    // background: #ffffff;
    // border: 1px solid #eeeeee;
    // box-sizing: border-box;
  }
  .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    overflow: auto;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-list__link:hover &,
    .projects-list__link:hover & {
      transform: translateY(0%);
    }
  }
  .projects-list__link {
    position: relative;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
  }
  .menu__btn:not(:nth-child(5)) {
    margin-right: 8px;
  }
  .menu__btn :hover,
  .menu__btn :focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
    // margin: -15px;
  }

  .projects-list__item {
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-top: 30px;
    // margin: 15px;
  }

  .projects-list__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;

    color: #212121;
  }
  .projects-list__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;

    color: #757575;
  }
  .projects-list__box {
    width: 354px;
    height: 146px;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
  }

  .projects-list__wrapper {
    position: relative;
    overflow: hidden;
  }
  .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    overflow: auto;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-list__link:hover &,
    .projects-list__link:hover & {
      transform: translateY(0%);
    }
  }
  .projects-list__link {
    position: relative;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
@media screen and (min-width: 1200px) {
  .menu {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }

  .menu__btn:not(:nth-child(5)) {
    margin-right: 9px;
  }

  .menu__btn :hover,
  .menu__btn :focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }

  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .projects-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
  }

  .projects-list__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;

    color: #212121;
  }
  .projects-list__text {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;

    letter-spacing: 0.03em;

    color: #757575;
  }

  .projects-list__box {
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
  }

  .projects-list__wrapper {
    position: relative;
    overflow: hidden;
  }

  .overlay {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    color: #ffffff;
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;

    letter-spacing: 0.03em;
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    overflow: auto;
    align-items: center;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .projects-list__link:hover &,
    .projects-list__link:hover & {
      transform: translateY(0%);
    }
  }

  .main-section {
    margin-bottom: 94px;
  }
  .projects-list__link {
    position: relative;
    display: block;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }
}
