@media screen and (max-width: 767px) {
  .team__item {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .section__title {
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    color: var(--primari-text-color-theme-ligth);
  }
  .team__item {
    // flex-basis: calc((100% - 90px) / 4);
    background-color: #ffffff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    &:not(:nth-child(4)) {
      margin-bottom: 30px;
    }
  }
  .team__wrapper {
    padding: 30px 32px;
  }
  .team__name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 10px;

    color: var(--primari-text-color-theme-ligth);
  }
  .team__position {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;

    text-align: center;
    letter-spacing: 0.03em;

    color: var(--secondary-text-color-theme-light);
    margin-bottom: 16px;
  }
  .section-team {
    background: #f5f4fa;
  }
  .social-list__item:not(:last-child) {
    margin-right: 10px;
  }
}
// .picture-img {
//   @media screen and (max-width: 767px) {
//     width: 100%;
//     height: auto;
//   }
// }
// .team {
//   display: flex;
//   justify-content: space-between;
// }

// .team__item {
//   flex-basis: calc((100% - 90px) / 4);
//   background-color: #ffffff;
//   box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
//     0px 2px 1px rgba(0, 0, 0, 0.2);
//   border-radius: 4px;

//   &:not(:nth-child(4)) {
//     margin-right: 30px;
//   }
// }
// .team__name {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.18;

//   text-align: center;
//   letter-spacing: 0.03em;
//   margin-bottom: 10px;

//   color: var(--primari-text-color-theme-ligth);
// }

// .team__position {
//   font-weight: 500;
//   font-size: 16px;
//   line-height: 1.18;

//   text-align: center;
//   letter-spacing: 0.03em;

//   color: var(--secondary-text-color-theme-light);
//   margin-bottom: 16px;
// }

// .section-team {
//   background: #f5f4fa;
// }

// .team__wrapper {
//   padding: 30px 32px;
// }
