// @media screen and (max-width: 767px) {
// }

.contact-form-field {
  display: block;
  margin-bottom: 10px;
}

.contact-form-imput-wrapper {
  height: 40px;
  position: relative;
  display: block;
  margin-top: 4px;
}
.name-contact-form {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
  margin-bottom: 12px;
}
.contact-form-imput {
  width: 100%;
  height: 100%;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.form-name-field {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
}
.texteria-form-message::placeholder {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}
.checkbox-license {
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.form-text {
  /* position: absolute; */
  width: 448px;
  height: 23px;
  left: 576px;
  top: 261px;
  /* margin-bottom: 12px; */

  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}
.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  display: block;
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .contact-form-imput:focus + & {
    fill: var(--accent-color);
  }
}
.texteria-form-message {
  display: block;
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    border-color: var(--accent-color);
    outline: none;
  }

  &::placeholder {
    font-family: var(--primary-font-family);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.contact-form-checkbox-label {
  justify-content: center;
  display: flex;
  align-items: center;
  font-family: var(--primary-font-family);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  letter-spacing: 0.03em;

  color: #757575;

  &::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    background: fff;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 7px;

    content: "";

    .contact-form-checkbox:checked + & {
      background: #2196f3;
      border-color: #2196f3;
      background-image: url("../images2/checkbox1.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      /* background-origin: border-box; */
      /* border: transparent; */
    }
  }
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 55px;
  min-width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  border: 1px solid var(--accent-color);
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: var(--primary-font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  cursor: pointer;
}
.contact-form-checkbox-wrapper {
  margin-top: 20px;
  margin-bottom: 30px;
}
.form-link {
  color: var(--accent-color);
  text-decoration: underline;
}
