body {
  font-family: var(--primary-font-family);
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}

// .section {
//   padding: 94px 0;
// }
@media screen and (max-width: 767px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 768px) {
  .section {
    padding: 60px 0;
  }
}
@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}
