:root {
  --primary-font-family: "Roboto", sans-serif;
  --secondary-font-family: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --primari-text-color-theme-ligth: #212121;
  --secondary-text-color-theme-light: #757575;
}
